body {
  display: flex;
  flex-direction: column;
  height: 10px;
/*   overflow: hidden; */
  background-color: white;
}
  

h1 {
    text-align: center;
    margin-top: -6px;
    margin-bottom: -3px;
  }
  
  #top_screen {
    color: white;
    margin: 20px;
  }
  
  #calculator_container {
    width: 330px;
    height: 50px;
   
    margin: auto;
    border-radius: 20px;
  }
  
  #display_screen_container {
     background-color: black;
    color: white;
    width: 322px;
    height: 65px;
    position: relative;
    top: -48px;
/*     margin-top: -20px; */
    margin-bottom: -30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  #error_message {
/*     background-color: green; */
    color: white;
    position: relative;
/*     bottom: 50px; */
    top: -22px;
    width: 96.5%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #display {
  font-size: 60px;  
  font-family: Arial;
  font-weight: 400;
/*   margin: auto; */
    position: relative;
    top: 27px;
/*     right: 0px; */
  margin-right: 1px;
  margin-bottom: 25px;
/*   margin-top: -10px; */
/*     width: 100px; */

  }


  
  #buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  /*   gap: 10px; */
    row-gap: 7px;
  /*   background-color: orange; */
    margin-top: -40px;
   }
  
  button {
    width: 75px;
    height: 70px;
    border-radius: 20%;
    border: none;
    font-size: 25px;
    position: relative;
   ;
  /*   text-decoration: none; */
  /*   margin-left: 10px; */
  }
  
  button:hover {
    cursor: pointer;
  }
  
  #zero, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #decimal {
    background-color: #2E2E2E;
    color: white;
    box-shadow: 1px 1px 2px 1px #797979;
  }
  
  
 #equal, #back_space {
    background-color: #EE9406;
    color: white;
  }
  
  #clear, #plus_minus, #percentage {
    background-color: #AEAEAE;
  }
  
  #addition, #subtraction, #multiplication, #division {
    background-color: rgb(225,235,225);
  }
  
  #last_row {
  /*   background-color: pink; */
    width: 356px;
    height: inherit;
  }
  
  #back_space {
   font-size: 20px;
  }
  
/*   #test {
    width : 30px;
    height: 30px;
    background-color: orange;
    cursor: pointer;
  } */

  

  #clear:active, #percentage:active, #plus_minus:active, 
  #division:active, #seven:active, #six:active, 
  #eight:active, #nine:active, #five:active, 
  #four:active, #three:active, #two:active, #one:active, 
  #zero:active, #multiplication:active, #addition:active, 
  #subtraction:active, #equal:active, #back_space:active, 
  #decimal:active {
    transform: scale(0.97);
  }